<div class='controller'>
    <div class='controller__left'>
        <a id="footer_behavior_0" href='#'>探索</a>
        <a id="footer_behavior_1" href='#'>戰鬥</a>
        <a id="footer_behavior_2" href='#'>偷襲</a>
        <a id="footer_behavior_3" href='#'>偷竊</a>
        <a id="footer_behavior_4" href='#'>繞過</a>
        <a id="footer_behavior_5" href='#'>使用道具</a>
        <a id="footer_behavior_6" href='#'>撤退</a>
    </div>
    <div class='controller__right'>
        <a onclick="javascript: about_me()" target='_blank'>關於作者</a>
    </div>

</div>